<app-user-header></app-user-header>
<br><br><br>
<h1 style="color:#c2185b ; margin-left: 45%;">Booked Tickets!!</h1><br>
<div class="container" style="background-image:url('/assets/bg4.jpg');background-size: cover;
background-position: center;
padding: 20px;
border: 1px solid black;
 ">
    
    <div  style="border-color:  black">
    <table class="table table-hover" border="1" style="background-color:white;margin: 30px 0 30px 0" *ngFor="let b of ticketlist"  >
        
    <thead><th>Bus ID</th><th>ticket_id</th><th>date_of_travel</th><th>dob</th><th>email</th><th>name</th><th>phone</th></thead>
    <tr><td>{{b.busId}}</td><td>{{b.ticketId}}</td><td>{{b.dateOfTravel}}</td><td>{{b.dob}}</td><td>{{b.email}}</td><td>{{b.name }}</td><td>{{b.phone}}</td></tr>
    <tr><td><i title="Water Ameneties" class="bi bi-droplet"></i>&nbsp;<i title="Mobile charging" class="bi bi-battery"></i>&nbsp;<i title="CCTV" class="bi bi-camera-video"></i>&nbsp;<i title="USB Cable" class="bi bi-usb-symbol"></i></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td> <td> </td><td> </td><td> </td><td><button class="btn btn-outline-danger" (click) ="updateTicket(b.ticketId, b.busId)">Update Ticket</button><button class="btn btn-outline-danger" (click)="deleteTicket(b.ticketId)" >Cancel Ticket</button></td></tr>
    <table>
    <div>
  