<app-nav></app-nav>
<body style="background-color: white;">
<div class="container" >      
  <div class="mainthing">
    <div class="heading" style="display: flex;">
      <img src="/assets/logo.png" style="width: 200px; height: 80px;" alt="Logo">
      <h1 style="margin-left: 16%;">Welcome to Oswald Travels</h1>
    </div>
    <img src="/assets/loader.jpg" alt="image not found">
    <br>
    <br>
    <br>
    <div class="but">
        <br><br><br><br>
        <button class="butin" routerLink="/reg_log">Login/Signup</button>
    </div> 
    <br>
    <br>
    <hr>
    <div class="adv">
      <h1>Our Official Partners</h1>
    </div>
    <div class="card1">
      <div class="card11">
        <div class="card111">
          <img src="/assets/talent.png" alt="item">
        </div>
        <p class="cardout"><b>TalentSprint, a National Stock Exchange (NSE)</b> Group Company, brings transformational high-end and deep-tech learning programs to emerging and experienced professionals in partnership with top academic institutions and global corporations. </p>
      </div>
      <div class="card11">
        <div class="card111">
          <img src="/assets/images.png" alt="item">
        </div>
        <p><b>Volvo Premium Bus</b></p>
        <p class="cardout">In partnership with Volvo we provide the best of luxuay buses, The AC slipper Volvo bus's are designed for long travels and it feels like an another home.</p>
      </div>
      <div class="card11">
        <div class="card111">
          <img src="/assets/protean.png" alt="item">
        </div>
        <p class="cardout"><b>Protean eGov Technologies Limited (formerly NSDL e-Governance Infrastructure Limited)</b> is one of the key IT enabled service providers that has extensively collaborated with the government over the last 25 years in creating digital public infrastructure and developing innovative citizen centric e-governance solutions.</p>
      </div>
    
    </div>
    </div>
  </div>
</body>
