<app-admin-header></app-admin-header>

<h1 style="text-align:center;">Dashboard</h1>

<div class="container">
  <div style="background: linear-gradient(to right, #FED3A5, #FD6585);" class="box">
    <i class="bi bi-currency-rupee"></i>
    <p><b>No Of Tickets Booked</b></p>
    <p style="font-size: 45px;margin-top: 0%;margin-bottom: -0%;">{{noOfTicketsBooked}}</p>
    <div class="progress-bar"></div>
  </div>

  <div style="background: linear-gradient(to right, #FCCF31, #F55555);" class="box">
    <i class="bi bi-geo-alt-fill"></i>
    <p><b>No. of Routes</b></p>
    <p style="font-size: 45px;margin-top: 0%;margin-bottom: 0%;">{{noOfRoutes}}</p>
    <div class="progress-bar"></div>
  </div>

  <div style="background: linear-gradient(to right, #7F7FD5, #91EAE4);" class="box">
    <i class="bi bi-person"></i>
    <p><b>No. of Admins</b></p>
    <p style="font-size: 45px;margin-top: 0%;margin-bottom: 0%;">1</p>
  </div>

  <div style="background: linear-gradient(to right, #3187C2, #7BC393);" class="box">
    <i class="bi bi-bus-front"></i>
    <p><b>No. of Buses</b></p>
    <p style="font-size: 45px;margin-top: 0%;margin-bottom: -0%;">{{noOfBuses}}</p>
  </div>
</div>

<div class="container">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/new1.jpg" style="width:1500px;height: 500px;" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets/new.jpg" style="width:1500px;height: 500px;" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets/new3.jpg" style="width:1500px;height: 500px;" alt="Slide 3">
      </div>
      <div class="carousel-item">
        <img src="assets/new1.png" style="width:1500px;height: 500px;" alt="Slide 4">
      </div>
      <div class="carousel-item">
        <img src="assets/new4.jpg" style="width:1500px;height: 500px;" alt="Slide 5">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

